/**
* APP MAIN STYLES
*/
img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

header img {
  display: block;
  margin: auto;
}
header nav li {
  list-style: none;
}
header nav li a {
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  flex-basis: 32%;
  margin-right: 1%;
  margin-bottom: 30px;
}